* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 60px;
    font-size: 30px;
    color: #f0a202;
    text-decoration: none;
    background-color: #202c59;
}